@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-midnight-green: #014e56;
  --primary-light-coral: #f67e7e;
  --primary-white: #ffffff;
  --secondary-rapture-blue: #79c8c7;
  --secondary-police-blue: #2c6269;
  --secondary-deep-jungle-green: #004047;
  --sacramento-state-green: #012f34;
  --dark-green: #002529;
}

html {
  font-family: "Livvic", sans-serif;
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

h1.large {
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 100px;
  line-height: 100px;
  color: #fff;
}

p.body1 {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

h1.small {
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 64px;
  line-height: 56px;
  color: #fff;
}

p.body2 {
  font-family: "Livvic", sans-serif;
  font-weight: 600;
  font-size: 15px;
  line-height: 25px;
  color: #fff;
}

h2 {
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 48px;
  color: #fff;
}

h3 {
  font-family: "Livvic", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 28px;
  color: #fff;
}

nav {
  display: flex;
  justify-content: space-between;
  background-color: var(--primary-midnight-green);
  padding: 5% 10%;
}

.nav-start {
  display: flex;
  justify-content: space-between;

  width: 40%;
}

nav > .nav-start > ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  width: 50%;
  font-size: 1.8rem;
  text-transform: lowercase;
  font-weight: bold;
}

.btn1 {
  width: 15.3rem;
  height: 4.8rem;
  border: 2px solid #fff;
  border-radius: 3rem;
  background-color: var(--primary-midnight-green);
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}

.btn1:hover {
  background-color: #fff;
  color: #000;
}

/* HOME */

.home-section-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5% 10% 10%;
  background-color: var(--primary-midnight-green);
}

.home-section-1 > p {
  width: 40%;
}

.bg-ptn-1 {
  position: absolute;
  left: -7%;
}
.bg-ptn-2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.home-section-2 {
  padding: 10%;
  background-color: var(--sacramento-state-green);
  display: flex;
  position: relative;
}

.home-section-2-right > .item {
  display: flex;
  padding: 5%;
}

.home-section-2-right > .item > .item-right {
  padding-left: 2rem;
}

.home-section-2-right > .item > .item-right .body1 {
  color: var(--primary-light-coral);
  padding-bottom: 0.5rem;
}

.home-section-2-right > .item > .item-right .body2 {
  opacity: 0.5;
}

.home-section-2-left {
  width: 80%;
}

.home-section-2-left > h2 {
  line-height: 8rem;
}

.bg-ptn-3 {
  position: absolute;
  right: -100px;
  bottom: 0;
}

.bg-ptn-4 {
  position: absolute;
  left: -120px;
  transform: rotate(90deg);
}

.home-section-3 {
  background-color: var(--primary-midnight-green);
  padding: 10% 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
}

.stories-container {
  display: flex;
  padding-top: 10rem;
}

.stories {
  padding: 1rem 2rem;
  position: relative;
  text-align: center;
}
.stories > .body2 {
  padding-bottom: 2rem;
  opacity: 0.8;
}
.stories > h3 {
  padding-bottom: 1rem;
  color: var(--secondary-rapture-blue);
}

.stories > img {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: 2px solid var(--secondary-rapture-blue);
}

.quotes {
  position: absolute;
  top: -20px;
  left: 40%;
  border: none !important;
  border-radius: 0.1rem !important;
}

.bg-ptn-5 {
  position: absolute;
  top: 0;
  left: 0;
}

.bg-ptn-6 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.ready {
  background-color: var(--primary-light-coral);
  display: flex;
  justify-content: space-between;
  padding: 5% 20%;
  position: relative;
}

.ready > div > h2 {
  color: var(--dark-green);
}

.btn2 {
  width: 15.3rem;
  height: 4.8rem;
  border: 2px solid #000;
  border-radius: 3rem;
  background-color: var(--primary-light-coral);
  cursor: pointer;
  color: #000;
  font-weight: bold;
}

.btn2:hover {
  background-color: #000;
  color: #fff;
}

.ready > img {
  position: absolute;
  left: 0;
  bottom: 0;
}

footer {
  padding: 5% 10%;
  background-color: var(--dark-green);
  display: flex;
  justify-content: space-between;
}

footer > .nav-start {
  display: flex;
  flex-direction: column;
  height: 10rem;
}

footer > .nav-start > ul {
  text-decoration: none;
  list-style-type: none;
  font-size: 2.4rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  width: 25rem;
}

address > .body2 {
  font-weight: lighter;
  opacity: 0.7;
}

.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.footer-right > .social-media {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-right > .body2 {
  opacity: 0.7;
  font-weight: lighter;
}
